.social{
    display: flex;
    position: fixed;
    position: relative;
    height: 20px;
    justify-content: space-evenly;
    z-index: 10;
    left: 0;
    background: none;
    
}

.social li{
    list-style: none;
    align-items: center;
    justify-content: space-between;

}

.social li a {
    display: inline-block;
    
    color: aliceblue;
    
    transform: scale(1.2);
    transition: 0.5s;

}

.social li a:hover {
    transform: scale(1.3) translateY(-5px);

}